$max-width: 960px;
$base-padding: 15px;
$center-gap: 50px;

@import './mixins.scss';

header {
    @include base;
    @include media(s) {
        position: relative;
    }

    a {
        color: black;
        text-decoration: none;
        display: inline-block;
    }

    h1 a {
        @include media(s, max) {
            position: absolute;
            color: white;
            padding-left: $base-padding;
            font-size: 20vw;
            font-size: 20vmin;
        }
    }

    p:nth-child(1) {
        @include media(s) {
            margin-top: 3rem;
        }
    }

    p:nth-child(2) {
        margin-bottom: 1rem;
    }
}

main {
    @include base;
}

.portrait {
    width: 100%;
    height: 45vw;
    object-fit: cover;
    object-position: 50% 30%;

    @include media(s) {
        position: absolute;
        left: 50%;
        bottom: 0;
        top: 0;
        height: 100%;
        width: auto;
    }
}



.section {
    h2 {
        margin-top: 4rem;
        @include media(s, max) {
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    h3 {
        margin-top: 3rem;
        color: lightgray;
        @include media(s) {
            color: black;
        }
        > strong {
            display: block;
            color: black;
            margin-top: 0.3rem;
            @include media(s) {
                margin-top: 0;
                float: right;
                width: 50%;
            }
        }
    }

    ul {
        margin: 0;
    }

    &--person p {
        @include media(s) {
            width: 50%;
            padding-right: $center-gap;
            box-sizing: border-box;
        }
    }
    
    &--work {
        .section__content span {
            @include media(s) {
                display: flex; 
                justify-content: space-between;
                > p {
                    padding-right: $center-gap;
                    flex: 50% 0 0;
                }
                > ul {
                    flex: 50% 0 0;
                }
            }
            
        }
    }
    
    &--education .section__content p {
        @include media(s) {
            padding-right: $center-gap;
            max-width: 50%;
        }
    }

    &--skills {
        padding-right: $center-gap;
        width: 50%;
    }
}

.skill-item {
    display: block;
    list-style: none;
    &__indicator {
        width: 100%;
        height: 5px;
        background-color: lightgray;
    }
    &__level {
        height: 100%;
        background-color: coral;
    }
}