$max-width: 960px;
$base-padding: 15px;
$center-gap: 50px;

@mixin base {
    max-width: $max-width;
    margin: 0 auto;
    padding: $base-padding;
}



header {
    @include base;
    position: relative;

    a {
        color: black;
        text-decoration: none;
    }
}

main {
    @include base;
}

.portrait {
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0;
    height: 100%;
}



.section {
    h2 {
        margin-top: 4rem;
    }

    h3 {
        margin-top: 3rem;
        > strong {
            float: right;
            width: 50%;
        }
    }

    ul {
        margin: 0;
    }

    &--person p {
        width: 50%;
        padding-right: $center-gap;
        box-sizing: border-box;

 
    }
    
    &--work {
        .section__content span {
            display: flex; 
            justify-content: space-between;
            
            > p {
                padding-right: $center-gap;
                flex: 50% 0 0;
            }
            > ul {
                flex: 50% 0 0;
            }
        }
    }
    
    &--education .section__content p {
        padding-right: $center-gap;
        max-width: 50%;
    }

    &--skills {
        padding-right: $center-gap;
        width: 50%;
    }
}

.skill-item {
    display: block;
    list-style: none;
    &__indicator {
        width: 100%;
        height: 5px;
        background-color: lightgray;
    }
    &__level {
        height: 100%;
        background-color: coral;
    }
}